h1, h2, h3, h4, h5
{
    margin: 0;
}

#header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}

#header > *
{
    text-align: center; 
}

#header > #chapter-heading
{
    margin: 0%;
}

#header > #heading-fun
{
    margin-top: 1%;
}

body
{
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    background-color: rgb(44, 44, 44);
    color: white;
}

.image
{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

.small-image
{
    width: 50%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
}

.section
{
    margin-top: 14%;
    margin-bottom: 14%;
}

#disqus_thread
{
    margin-top: 10%;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    body
    {
        width: 100%;
    }    
}
 
@media only screen and (min-width:500px) {
    body
    {
        max-width: 700px;
    }
}