body
{
    /* background-color: rgb(61, 61, 61); */
    background-color: #3795BD;
    margin: 0;
}

nav
{
    position: relative;
    background-color: #3A1078;
    padding: 10px;
}

#nav-title
{
    margin-left: 3vw;
    font-size: 5vw;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

#nav-buttons
{
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin-right: 3vw;
}

.panel
{
    border-radius: 10px;
    background-color: #4E31AA;
}

#content
{
    display: flex;
    margin-top: 6vw;
    margin-bottom: 6vw;
}

#introduction-panel
{
    padding: 6%;
    color: white;
}

#courses-panel
{
    padding: 10px;
}

#courses-heading
{
    width: 100%;
    font-size: 5vw;
    text-align: center;
}

#courses
{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.course
{
    height: 12vh;
    background-color: #2F58CD;
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    /* flex-wrap: wrap; */
}

.course-image
{
    height: 100%;
    width: auto;
}

.course-info
{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.course-title
{
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width:0px)
{
    #content
    {
        padding: 3%;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60vh;
    }
    .panel
    {
        width: 100%;
        min-height: 10vh;    
    }

    .course-title
    {
        font-size: 4vw;
    }
    
    #introduction-panel
    {
        font-size: 4vw;
    }
}

@media only screen and (min-width:500px)
{
    #content
    {
        justify-content: space-evenly;
        flex-direction: row;
    }    
    
    .panel
    {
        width: 40%;
        min-height: 70vh;    
    }

    .course-title
    {
        font-size: 2vw;
    }

    #introduction-panel
    {
        font-size: 2vw;
    }
}