body
{
    margin: 0;
}

#intro-container
{
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#site-heading
{
    font-size: 8vw;
    color: white;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

#intro-big-text
{
    font-size: 6vw;
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

#intro-details
{
    text-align: center;
    color: white;
}

#scroll-down-container
{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#scroll-down-button
{
    color: white;
    font-size: 6vw;
}

#content
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
}

#content-container
{
    position: relative;
    top: 6vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#courses-heading
{
    position: relative;
    top: 1%;
    font-size: 6vw;
    text-align: center;
}


#courses-container
{
    position: relative;
    top: 4%;
    width: 100%;
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.course-container
{
    position: relative;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.course-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s;
}

.course-container:hover .course-image
{
    transform: scale(1.5);
}

.course-title
{
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    margin-bottom: 5%;
}
 
@media only screen and (max-width: 500px)
{
    #courses-container  
    {
        grid-template-columns: 1fr;
        grid-auto-rows: 40vw;
        gap: 6px 
    }

    /* .course-container   { height: 30vw; } */
    .course-title       { font-size: 6vw; }
}

@media only screen and (min-width: 500px) and (max-width: 800px)
{
    #courses-container  
    {
        grid-template-columns: 1fr /*1fr*/;
        grid-auto-rows: 40vw;
        gap: 4px 
    }

    /* .course-container   { height: 20vw; } */
    .course-title       { font-size: 2vw; }

}

@media only screen and (min-width: 800px)
{
    #courses-container  
    { 
        grid-template-columns: 0.333fr /*1fr 1fr*/;
        grid-auto-rows: 20vw;
        gap: 2px;
    }

    /* .course-container   { height: 20vw; } */
    .course-title       { font-size: 2vw; }
}